html body {
  background-color: #fff;
}

.login-title {
  font-size: 40px;
  width: 100%;
  text-align: center;
  height: 200px;
  background-color: #00cabc;
  margin-bottom: 30px;
  color: #fff;
  line-height: 200px;
}

.login-input {
  width: 90%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 80px;
  line-height: 40px;
  background-color: #fff;
  display: flex;
}

.login-user i {
  color: #00cabc;
  font-size: 30px;
  font-weight: bold;
}

.login-password {
  margin-top: 30px;
}

.login-password i {
  color: #00cabc;
  font-size: 42px;
}

.login-input input {
  height: 40px;
  width: 300px;
  border: none;
  font-size: 30px;
  margin-top: 16px;
  flex: 1;
}

.login-input > div {
  display: inline-block;
  width: 80px;
  text-align: center;
  padding-left: 10px;
  height: 80px;
  line-height: 80px;
}

.login-password > input {
  position: relative;
  bottom: 5px;
}

.login-btn {
  background-color: #00cabc !important;
  color: #fff !important;
  width: 90%;
  margin: 90px auto 0;
  border: none !important;
}

.login-btn-active {
  background-color: #2bc6dc;
}

.login-patriarch {
  text-align: right;
  width: 90%;
  margin: 30px auto 0;
}

.login-patriarch a {
  color: #00cabc;
}

.login-password-block {
  width: 90%;
  margin: 30px auto;
}

.login-forget {
  float: right;
  color: #999;
}

.login-checkbox {
  float: left;
  color: #00cabc;
  position: relative;
}

.login-checked {
  color: #cd3a0d;
  font-size: 30px;
  position: absolute;
  left: 2px;
}