.password-btn{
  background: #00cabc !important;
  border: #00cabc !important;
  width: 90%;
  margin: 0 auto;
}

.password-step2-verify{
  width: 40%;
  display: inline-block;
  float: right;
  margin:60px auto;
  border-radius: 4px;
  height: 80px;
  line-height: 80px;
}

.password-input{
  text-align: left;
  border: 0.01rem solid #dcdcdc;
  width: 90%;
  margin:60px auto;
  border-radius: 4px;
  height: 80px;
  line-height: 80px;
}

.password-input input{
  width: 90%;
  padding-left: 20px;
  border:none;
}

.am-steps-item.am-steps-status-process .am-steps-head-inner{
  background: #00cabc;
  border: #00cabc;
}
.password-step{
  width: 33.3%;
  float: left;
  color: #000;
  background: #e5e5e5;
  height: 80px;
  line-height: 80px;
  position: relative;
}

.password-top{
  display: flex;
  line-height: 70px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 200px;
}

.password-step-active{
  background: #00cabc;
  border: #00cabc;
  color: #fff;
}
.password-title{
  text-align: center;
  margin-top: 20px;
}

.shaft{
  margin-left: auto;
  margin-right: auto;
  width:30px;
  height:2px;
  background-color:black;
}

.arrowhead{
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 50px solid black;
}

.password-verify{
  width: 50%;
  margin-left: 40px;
}

.password-verify-right{
  text-align: left;
  width: 32%;
  margin:60px auto;
  border-radius: 4px;
  height: 80px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  background: url("../image/verify.png") no-repeat;
  background-size:cover;
}

.password-hidden{
  display: none;
}

.password-show{
  display: inline-block;
}

.arrow-right{
  width: 0;
  height: 0;
  border-top:40px solid #fff;
  border-left: 20px solid #00cabc;
  border-right: 40px solid #fff;
  border-bottom: 40px solid #fff;
  position: absolute;
  right: -50px;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

.arrow-left{
  width: 0;
  height: 0;
  border-top:40px solid #e5e5e5;
  border-left: 20px solid #fff;
  border-right: 40px solid #e5e5e5;
  border-bottom: 40px solid #e5e5e5;
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

.arrow-right-gray{
  width: 0;
  height: 0;
  border-top:40px solid #fff;
  border-left: 20px solid #e5e5e5;
  border-right: 40px solid #fff;
  border-bottom: 40px solid #fff;
  position: absolute;
  right: -50px;
  top: 0;
  z-index: 2;
  background-color: #fff;
}